PORT=3000
HOST=0.0.0.0
SSH_USER=utilisateur-ssh
SSH_PRIVATE_KEY_PATH=/home/meyers/.ssh/id_rsa
SSH_PUBLIC_KEY_PATH=/home/meyers/.ssh/id_rsa.pub
DHCP_PATH=/home/meyers/Bureau/personal/projects/webs/wakejs/backend/src/config/dhcpd.conf
JWT_SECRET=run--openssl_rand_-base64_24--to-generate-a-secret-key
